---

import Layout from '../layouts/Layout.astro';
import HeroSection from "../components/section/HeroSection.astro";
import PropiedadesSection from "../components/section/PropiedadesSection.astro";

---

<Layout title="Bienes raices" description="sitio web de bienes raices">
    <main>
        <HeroSection />
        <PropiedadesSection />
    </main>
</Layout>

