<footer class="bg-[#1c2d37] text-white flex items-center gap-6 px-4 py-2">
    <div class="grow">
            <h3>BIENES RAICES</h3>
            <p class="font-sans">Una Inversión para el futuro, tu tranquilidad y un hogar para tu familia, conoce el catálogo de propiedades que tenemos ofertadas, contactanos y te damos el servicio para que tu deseos se realicen.</p>
            <p class="text-sm font-mono">Copyright © 2025 Practica siguiendo video: </p>
    </div>
    <div class="w-[400px] flex flex-col text-sm antialiased">
            <a href="#" class="hover:underline">Casas en Venta</a>
            <a href="#" class="hover:underline">Casas en Renta</a>
            <a href="#" class="hover:underline">Departamentos en Venta</a>
            <a href="#" class="hover:underline">Departamentos en Renta</a>
            <a href="#" class="hover:underline">Otros</a>
    </div>
    <div class="flex-none">
       
            <a href="/">
              <img class="h-11" src="/public/img/logo-white.svg" alt="logo" />
            </a>
    </div>
</footer>
